{% extends "alfa.html"%}
{% load static%}
{% block body%}
<div class="login_container">
    <div class="login_img_container"><img src="{% static 'images/register/login.jfif' %}" alt="login"> </div>
    
    <div class="login_form_container">
        <div class="login_logo">
            <div>
                <img src="{% static 'logos/logo.jpg' %}" alt="login">
            </div>

            {%if messages %}
            <ul class="messages">
                {%for message in messages%}
                <li>{{message}}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <div class="login_form">
            <a href= '{% url "Login" %}' > < Back</a><br> <br>
            <h2>Enter Your Email</h2>
            
            <form method="POST">
                {% csrf_token %}

               <label for="email"> Email</label>
               <input class="login_input" type="text" name="email">
               <br><br>

                <button>Get New Password</button>
                <br><br>
               
                
            </form>
          
            
            

        </div>
    </div>
</div>

{% endblock body%}