

{% extends "alfa.html"%}
{% load static%}

{% block body%}

<main>

    
    <div class="container">
        <div class="profil_detail">
          <h1>Profile</h1>  
          <div>
            <span>Ad:</span><p>Emin</p>
          </div>
          <div>
            <span>Soyad Ad:</span><p>Elekberli</p>
          </div>
          <div>
            <span>Email:</span><p>elekberli1996@gmail</p>
          </div>
          <div>
            <span>Randevular:</span><p>Cedvel</p>
          </div>
        </div>
        
    </div>
   
 </main>

{% endblock body%}